<!-- Loop over each object in the projects array -->
{{#each blogs as |blog| }}
<div class="blog">
  <div>
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/api/blogRoutes.js/">{{Project.name}}</a>
    </h2>
    <p>Created by {{Blog.user_id}} on {{Blog.date_created}}</p>
  </div>
  <div>
    <p>
      {{Blog.description}}
    </p>
  </div>
</div>
{{/each}}
